.list-view .list-cell:odd {
    -fx-background-color: #7A9E9F;
}

.list-view .list-cell:even {
    -fx-background-color: #4F6367;
}

.list-view .list-cell {
    -fx-text-fill: white;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}
